label {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
}

input {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  border: solid grey 2px;
  border-radius: 4px;
}

form {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.close {
  border: solid rgb(28, 82, 114) 2px;
  background-color: rgb(54, 124, 165);
  border-radius: 4px;
  float: right;
}

.save {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1a6b3f;
  border: solid rgb(21, 80, 47) 2px;
  border-radius: 4px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-decoration {
  background-color: #ffffffb6;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #113111;
  border-radius: 10px;
  width: 30%;
}

.btn {
  border: solid rgb(15, 80, 117) 2px;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  background-color: #347397;
}
